#btn15{
   background-color: rgb(40, 75, 99);
   color: white;
   max-width: 30%;
}

@media screen and (min-width:990px) {
.grid-container2{
    grid-gap: 5px;
    display: grid;
    margin-top: 80px;
    margin: 80px;
}
.mb-3{
    margin: 10px;
}
}
.grid-container2{
    margin: 10px;
}
.pgColegioCabH3{
    background-color: rgb(40, 75, 99);
    color: white;
    text-align:left;
    
}