#btn15{
   background-color: rgb(40, 75, 99);
   
  
}

@media screen and (min-width:990px) {
.grid-container{
    grid-gap: 5px;
    display: grid;
    margin-top: 80px;
    margin: 80px;
}
.btn{
    max-width: 30%;
}
.mb-3{
    margin: 10px;
}
}
.grid-container{
    margin: 10px;
}
